<section>
    <div class="flex justify-center">
        <p class="text-3xl md:text-5xl tracking-wide mt-0 md:mt-20 font-medium text-white text-center font-bebas-neue leading-none">ENTER YOUR POSTCODE BELOW FOR A <span class="text-secondary">FREE</span> CASH OFFER
        </p>
    </div>
    <div class="container mx-auto flex flex-col md:flex-row items-center mt-5 space-x-0 md:space-x-12">
        <!-- First Column with Input Box -->
        <div class="w-full md:w-1/3">
            <input type="text" class="mt-1 p-4 border rounded-2xl w-full">
        </div>

        <!-- Second Column with Button -->
        <div class="w-full md:w-1/3">
            <div class="w-full p-2.5">
                <div class="block">
                    <a class="p-4 rounded-2xl w-full justify-center inline-flex items-center my-auto md:text-xl text-base text-white font-semibold bg-neutral rounded transition ease-in-out duration-200"
                        href="/book-consultation">

                        <div class="flex flex-wrap justify-center -m-1 mx-auto rounded-2xl">
                            <div class="w-auto p-1 text-dark hover:text-white transition delay-600  text-2xl md:text-3xl font-bebas-neue">
                                <span>GET A FREE CASH OFFER</span>
                            </div>
                        </div>


                    </a>
                </div>
            </div>
        </div>

        <!-- Third Column with Information -->
        <div class="w-full md:w-1/3 text-white text-center md:text-left">
            <p class="text-special font-medium  font-bebas-neue">CALL 0800 689 3203</p>
            <p><a href="mailto:info@sellyourhousefastuk.com"
                    class="text-blue-500 text-special font-bebas-neue">EMAIL info@sellyourhousefastuk.com</a></p>
        </div>
    </div>

</section>