<footer class="bg-gray-100 text-dark p-4 text-center">
    <div class="container mx-auto">
        <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
            <!-- Contact Info -->
            <div class="mb-4">
                <p class="text-lg font-bold mb-2 font-bebas-neue">CONTACT US</p>
                <p class=" text-left text-2xl">Call us today: <br> <span class="font-semibold text-2xl text-primary">0800 689 3203</span></p>
                <p class=" text-left text-2xl">Write to us: <br><a href="mailto:info@sellyourhousefastuk.com"><span class="font-semibold text-2xl text-primary">info@sellyourhousefastuk.com</a></span></p>
            </div>
    
            <!-- Follow Us on Social Media -->
            <div class="mb-4">
                <p class="text-lg font-bold leading-9 mb-2 font-bebas-neue">FOLLOW US</p>
                <!-- Add your social media icons here -->
                <div class="flex justify-center space-x-4">
                    <!-- Replace the placeholder icons with your actual social media icons -->
                    <a href="https://www.facebook.com/sellyourhousefastukdotcom" class="text-white hover:text-gray-500"><img src="/socials/facebook.svg" alt="Sell Your House Fast Logo" class="h-10 mx-auto">
                    </a>
                    <a href="#" class="text-white hover:text-gray-500"><img src="/socials/google.svg" alt="Sell Your House Fast Logo" class="h-10 mx-auto">
                    </a>
                    <a href="https://twitter.com/sellyourhousef" class="text-white hover:text-gray-500"><img src="/socials/twitter.svg" alt="Sell Your House Fast Logo" class="h-10 mx-auto">
                    </a>
                    <a href="https://www.instagram.com/sellyourhousefastuk/" class="text-white hover:text-gray-500"><img src="/socials/instagram.svg" alt="Sell Your House Fast Logo" class="h-10 mx-auto">
                    </a>
                    <a href="https://www.youtube.com/channel/UClpT8wSGd4X_Y6HhinGurvw" class="text-white hover:text-gray-500"><img src="/socials/youtube.svg" alt="Sell Your House Fast Logo" class="h-10 mx-auto">
                    </a>
                </div>
            </div>
    
            <!-- Logo -->
            <div class="mb-4">
                <img src="/images/syh_logo.png" alt="Sell Your House Fast Logo" class="h-12 mr-auto">
            </div>
        </div>
    </div>
    <div class="container mx-auto">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
            <!-- Links to Different Pages -->
            <div class="mb-4">
                <nav class="flex items-center space-x-4">
                    <a href="/" class="text-dark hover:text-gray-500">Home</a>
                    <a href="/blog" class="text-dark hover:text-gray-500">Blog</a>
                    <a href="/terms/" class="text-dark hover:text-gray-500">Terms and Conditions</a>
                    <a href="/privacy/" class="text-dark hover:text-gray-500">Privacy Policy</a>
                </nav>
            </div>

        </div>
    </div>
</footer>