<div class="relative bg-neutral">

  <div class="container mx-auto my-auto">

    <div class="flex justify-center">
      <h2 class="text-5xl text-white font-bebas-neue font-medium mt-20"> HOW DOES IT WORK</h2>
    </div>
    <div class="flex  justify-center items-center min-h-screen">

      <div class="flex flex-col md:flex-row space-x-0 space-y-3 md:space-y-0 md:space-x-20">
        <!-- Circle 1 -->
        <div class="flex flex-col items-center">
          <div class="w-96 h-96 bg-secondary rounded-full flex flex-col items-center justify-center mb-4 z-1">
            <div class="flex">
              {{ with resources.Get "images/fill_in_form.png" }}
              {{ $small := (.Resize "400x webp q100").RelPermalink }}
              {{ $medium := (.Resize "550x webp q100").RelPermalink }}
              {{ $large := (.Resize "2000x webp q50").RelPermalink }}
              {{ $logoimage := (.Resize "900x webp q100").RelPermalink }}
              <img src="{{ $logoimage }}" srcset="{{- with $small -}}, {{.}} 768w{{- end -}}
              {{- with $medium -}}, {{.}} 1024w{{- end -}}
              {{- with $large -}}, {{.}} 1374w{{- end -}}" alt="" class="h-20 mr-5">
              {{end}}
              <h4 class="font-bebas-neue text-3xl text-white">FILL IN
                THE FORM</h4>
            </div>
            <div class="text-center z-10">
              <p class="font-sans text-lg p-4 tracking-tight font-bold text-dark">
                The form is quick and easy. Provide some simple details about your property so that we can make an
                assessment.</p>
            </div>
          </div>
        </div>

        <!-- Circle 2 -->
        <div class="flex flex-col items-center">
          <div class="w-96 h-96 bg-primary rounded-full flex flex-col items-center justify-center mb-4 z-1">
            <div class="flex">
              {{ with resources.Get "images/agree_price.png" }}
              {{ $small := (.Resize "400x webp q100").RelPermalink }}
              {{ $medium := (.Resize "550x webp q100").RelPermalink }}
              {{ $large := (.Resize "2000x webp q50").RelPermalink }}
              {{ $logoimage := (.Resize "900x webp q100").RelPermalink }}
              <img src="{{ $logoimage }}" srcset="{{- with $small -}}, {{.}} 768w{{- end -}}
              {{- with $medium -}}, {{.}} 1024w{{- end -}}
              {{- with $large -}}, {{.}} 1374w{{- end -}}" alt="" class="h-20">
              {{end}}
              <h4 class="font-bebas-neue text-3xl text-white">AGREE
                THE PRICE</h4>
            </div>
            <div class="text-center z-10">
              <p class="font-sans text-lg p-4 tracking-tight font-bold text-dark">You will be contacted by one of our
                specialists. They will ask for more information to see how best we can provide a service. We will try to
                agree a fair price for both parties with no fees for you to pay.</p>
            </div>
          </div>
        </div>

        <!-- Circle 3 -->
        <div class="flex flex-col items-center relative">
          <div class="w-96 h-96 bg-secondary rounded-full flex flex-col items-center justify-center mb-4 z-1">
            <div class="flex">
              {{ with resources.Get "images/get_cash.png" }}
              {{ $small := (.Resize "400x webp q100").RelPermalink }}
              {{ $medium := (.Resize "550x webp q100").RelPermalink }}
              {{ $large := (.Resize "2000x webp q50").RelPermalink }}
              {{ $logoimage := (.Resize "900x webp q100").RelPermalink }}
              <img src="{{ $logoimage }}" srcset="{{- with $small -}}, {{.}} 768w{{- end -}}
              {{- with $medium -}}, {{.}} 1024w{{- end -}}
              {{- with $large -}}, {{.}} 1374w{{- end -}}" alt="" class="h-20 mr-5">
              {{end}}
              <h4 class="font-bebas-neue text-3xl text-white">GET
                THE CASH</h4>
            </div>
            <div class="text-center z-10">
              <p class="font-sans text-lg p-4 tracking-tight font-bold text-dark">You will receive the money for your
                property very quickly. Typical time periods for settlement are within a week.
              </p>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>

<div class="relative bg-white">
  <div class="container mx-auto my-auto">

    <div class="flex justify-center">
      <h2 class="text-6xl text-primary font-bebas-neue font-medium mt-20 mb-12">WHAT OUR CLIENTS ARE SAYING
      </h2>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
      <!-- Testimonial 1 -->
      <div class="relative flex flex-col items-center">
        <div class="flex justify-start">
          {{ with resources.Get "images/lisa-duffin.jpg" }}
          {{ $small := (.Resize "400x webp q100").RelPermalink }}
          {{ $medium := (.Resize "550x webp q100").RelPermalink }}
          {{ $large := (.Resize "2000x webp q50").RelPermalink }}
          {{ $logoimage := (.Resize "900x webp q100").RelPermalink }}
          <img src="{{ $logoimage }}" srcset="{{- with $small -}}, {{.}} 768w{{- end -}}
              {{- with $medium -}}, {{.}} 1024w{{- end -}}
              {{- with $large -}}, {{.}} 1374w{{- end -}}" alt="" class="rounded-full h-48 w-48 z-10">
          <div
            class="h-28 w-28 bg-neutral absolute left-16 top-28 rounded-full flex items-center justify-center mb-4 z-1">
          </div>
          {{end}}
        </div>
        <div class="text-left z-10 mt-10">
          <h4 class="text-3xl text-secondary font-bebas-neue pl-0 md:pl-12">Lisa Duffin</h4>
          <p class="text-lg text-dark pl-0 md:pl-12"> Sell your house fast contacted me regarding buying my house. I had
            financial problems so I needed to sell quickly to release the equity. They were extremely helpful in
            providing a solution. I am now renting it back and have money in the bank having paid off all my debts. I
            would certainly recommend their service to anyone wishing to sell their home quickly, especially if they
            have financial problems.
          </p>
        </div>
      </div>

      <!-- Testimonial 2 -->
      <div class="relative flex flex-col items-center">
        <div class="flex justify-start">
          {{ with resources.Get "images/ged-elliott.jpg" }}
          {{ $small := (.Resize "400x webp q100").RelPermalink }}
          {{ $medium := (.Resize "550x webp q100").RelPermalink }}
          {{ $large := (.Resize "2000x webp q50").RelPermalink }}
          {{ $logoimage := (.Resize "900x webp q100").RelPermalink }}
          <img src="{{ $logoimage }}" srcset="{{- with $small -}}, {{.}} 768w{{- end -}}
              {{- with $medium -}}, {{.}} 1024w{{- end -}}
              {{- with $large -}}, {{.}} 1374w{{- end -}}" alt="" class="rounded-full h-48 w-48 z-10">
          <div
            class="h-28 w-28 bg-primary absolute left-16 top-28 rounded-full flex items-center justify-center mb-4 z-1">
          </div>
          {{end}}
        </div>
        <div class="text-left z-10 mt-10">
          <h4 class="text-3xl font-bebas-neue text-secondary pl-0 md:pl-12">Ged Elliott
          </h4>
          <p class="text-lg text-dark pl-0 md:pl-12">The sale went through very quickly with no hassle and I have been able to
            stay in my home. This meant no disruption for myself and my children. I would definitely recommend this to
            anyone in a similar situation.</p>
        </div>
      </div>

      <!-- Testimonial 3 -->
      <div class="relative flex flex-col items-center">
        <div class="flex justify-start">
          {{ with resources.Get "images/umar-cheema.jpg" }}
          {{ $small := (.Resize "400x webp q100").RelPermalink }}
          {{ $medium := (.Resize "550x webp q100").RelPermalink }}
          {{ $large := (.Resize "2000x webp q50").RelPermalink }}
          {{ $logoimage := (.Resize "900x webp q100").RelPermalink }}
          <img src="{{ $logoimage }}" srcset="{{- with $small -}}, {{.}} 768w{{- end -}}
              {{- with $medium -}}, {{.}} 1024w{{- end -}}
              {{- with $large -}}, {{.}} 1374w{{- end -}}" alt="" class="rounded-full h-48 w-48 z-10">
          <div
            class="h-28 w-28 bg-neutral absolute left-16 top-28 rounded-full flex items-center justify-center mb-4 z-1">
          </div>
          {{end}}
        </div>
        <div class="text-left z-10 mt-10">
          <h4 class="text-3xl font-bebas-neue text-secondary pl-0 md:pl-12">Umar Chema </h4>
          <p class="text-lg text-dark pl-0 md:pl-12"> My brother and I had recently inherited a house from a relative and needed
            to sell it quickly. Within days, Sell your house fast had visited the property for a free valuation and
            within a few weeks had completed the sale. I also saved money because I didn't have to pay any fees
            whatsoever.

          </p>
        </div>
      </div>
    </div>

  </div>
</div>
<div class="relative bg-primary mt-20">
  <div class="container mx-auto my-auto">

    <div class="flex justify-center">
      <h3 class="text-6xl text-white font-bebas-neue font-medium mt-6 mb-6 md:mt-20 md:mb-12">SEE OUR VIDEO
      </h3>
    </div>
    <div class="flex justify-center items-center">
      <div class="w-full">
        <div class="aspect-video mb-20">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/5id4Z5BxgVc?si=KEgvsiE-I8y9TxNK"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen class="w-full h-full"></iframe>
        </div>
      </div>

    </div>
    <div class="mb-20">
      {{ partial "cta.html" . }}

    </div>

  </div>
</div>