<div class="top-0 z-50 w-full text-dark bg-white md:sticky">
    <div x-data="{ open: false }"
        class="flex flex-col justify-between px-6 p-3">
        <div class="flex flex-col sm:flex-row items-center justify-between px-2 md:px-12">
            <a href="/" class="flex items-center">
                <img src="/images/syh_logo.png"
                    class="h-12 mr-3 transition-opacity group-hover:opacity-50 group-focus:opacity-70"
                    alt="{{ .Site.Title }} Logo">
                <!-- <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Sell your house fast uk</span> -->
            </a>
            <div class="md:text-left text-center mt-2 md:mt-0 ">
                <p class="text-2xl text-secondary font-medium text-special font-bebas-neue">CALL 0800 689 3203</p>
                <p class="text-2xl text-secondary font-medium text-special font-bebas-neue"> <a href="mailto:info@sellyourhousefastuk.com"
                        class="">EMAIL US info@sellyourhousefastuk.com</a></p>
            </div>
        </div>

        
    </div>
</div>