<div class=" my-auto">
    <div class="flex justify-center">
        <h3 class="font-bebas-neue font-medium text-center text-secondary text-6xl mt-4 md:mt-20">THE SELL YOUR HOUSE FAST SERVICE
        </h3>
    </div>
    <div class="flex justify-center">
        <h4 class=" text-secondary text-center  text-4xl">Request A <strong>Cash Offer</strong> And Free Valuation Today
        </h4>
    </div>
    <div class="container mx-auto">
        <p class="text-2xl font-semibold text-dark leading-snug my-3 text-center px-2 md:px-12">If you are looking to <b>sell your house
                fast</b> it's worth considering us for a quick sale. Although we have nothing against estate agents, we
            feel that sometimes they make the process more difficult and time consuming than it needs to be. They act as
            a middle man, matching property to buyer and take a fee for this service. With us there is no middle man
            because we buy your house from you directly. This reduces the number of parties involved and therefore the
            likelihood of things going wrong. We buy your property using cash funds on a timescale that is suitable to
            you. No hassle or fuss, just a quick service that is there as and when you need it. You choose how fast to
            sell and when to move out. Whether you are looking to sell in just a few days, a few weeks or over a month,
            Sell your house fast is here to help.</p>
    </div>
        <div class="flex relative justify-center">
            <h4 class="font-bebas-neue text-center font-medium text-secondary mt-6 mb-6 text-4xl md:text-6xl">COMPARE US TO AN ESTATE AGENT
            </h4>
        </div>
    <div class="flex relative justify-center">
        <div class="w-full md:w-5/6">
            <table
                class="w-full text-dark text-2xl  font-semibold bg-white border border-gray-200 rounded-md overflow-hidden">
                <thead class="bg-white">
                    <tr>
                        <th class="py-2 px-4 text-left"> </th>
                        <th class="py-2 px-4 text-left text-dark font-bebas-neue text-lg md:text-2xl">Sell your
                            house fast</th>
                        <th class="py-2 px-4 text-left text-dark font-bebas-neue text-lg md:text-2xl">Estate Agents
                        </th>
                    </tr>
                </thead>
                <tbody class="divide-y divide-black">
                    <tr>
                        <td class="py-2 px-4 text-left">Sale period</td>
                        <td class="py-2 px-4">7-28 days</td>
                        <td class="py-2 px-4">6-9 months</td>
                    </tr>
                    <tr>
                        <td class="py-2 px-4 text-left">Guaranteed</td>
                        <td class="py-2 px-4">Yes</td>
                        <td class="py-2 px-4">No. On average, 1 in 3 sales fall through (national statistics)</td>
                    </tr>
                    <tr>
                        <td class="py-2 px-4 text-left">Repairs needed for house to sell</td>
                        <td class="py-2 px-4">None</td>
                        <td class="py-2 px-4">Possible (Agents usually ask for repairs)</td>
                    </tr>
                    <tr>
                        <td class="py-2 px-4 text-left">Privacy</td>
                        <td class="py-2 px-4">A small number of viewings for valuation purposes</td>
                        <td class="py-2 px-4">For sale sign outside and continuous viewings</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="container mx-auto">
        <div class="flex justify-center">
            <h3 class="font-bebas-neue text-center font-medium leading-snug text-secondary mt-6 mb-6 text-4xl md:text-6xl">HOUSE
                PRICE ACHIEVED: SELL YOUR HOUSE FAST VS TRADITIONAL ESTATE AGENTS
            </h3>
        </div>
    </div>
    <div class="flex justify-center">
        <div class="mx-auto w-full md:w-4/5">
            <table
                class="w-full text-dark text-2xl  font-semibold bg-white border border-gray-200 rounded-md overflow-hidden">
                <thead class="bg-white">
                    <tr>
                        <th class="py-2 px-4 text-left"> </th>
                        <th class="py-2 px-4 text-left text-dark font-bebas-neue text-lg md:text-3xl">Selling to us (3
                            days+)</th>
                        <th class="py-2 px-4 text-left text-dark font-bebas-neue text-lg md:text-3xl">Selling via Estate
                            Agent (6 months)</th>
                    </tr>
                </thead>
                <tbody class="divide-y divide-black">
                    <tr>
                        <td class="py-2 px-4 text-left">Asking Price</td>
                        <td class="py-2 px-4 font-bold">£100,000</td>
                        <td class="py-2 px-4 font-bold">£100,000</td>
                    </tr>
                    <tr>
                        <td class="py-2 px-4 text-left">Average agreed purchase price</td>
                        <td class="py-2 px-4 font-bold">£80,000</td>
                        <td class="py-2 px-4 font-bold">£95,000</td>
                    </tr>
                    <tr>
                        <td class="py-2 px-4 text-left">Final agreed price after survey</td>
                        <td class="py-2 px-4 font-bold">£80,000</td>
                        <td class="py-2 px-4 font-bold">£90,000</td>
                    </tr>
                    <tr>
                        <td class="py-2 px-4 text-left">Estate Agent fees</td>
                        <td class="py-2 px-4 font-bold">£0.00</td>
                        <td class="py-2 px-4 font-bold">£2,592 + VAT</td>
                    </tr>
                    <tr>
                        <td class="py-2 px-4 text-left">Cosmetic repairs needed</td>
                        <td class="py-2 px-4 font-bold">£0.00</td>
                        <td class="py-2 px-4 font-bold">£750</td>
                    </tr>
                    <tr>
                        <td class="py-2 px-4 text-left">Solicitor fees</td>
                        <td class="py-2 px-4 font-bold">£0.00</td>
                        <td class="py-2 px-4 font-bold">£1,000</td>
                    </tr>
                    <tr>
                        <td class="py-2 px-4 text-left">Council tax and other bills (while sales is going through)</td>
                        <td class="py-2 px-4 font-bold">£150</td>
                        <td class="py-2 px-4 font-bold">£1,800</td>
                    </tr>
                    <tr>
                        <td class="py-2 px-4 text-left">Mortgage payments (while sale is going through)</td>
                        <td class="py-2 px-4 font-bold">£0.00</td>
                        <td class="py-2 px-4 font-bold">£3,600</td>
                    </tr>
                    <tr>
                        <td class="py-2 px-4 text-left">Net price achieved</td>
                        <td class="py-2 px-4 font-bold">£79,850</td>
                        <td class="py-2 px-4 font-bold">£80,258</td>
                    </tr>
                </tbody>
            </table>
            <p class="text-dark text-lg my-2"><i>*These figures are for guidance only, individual sums can vary</i>
            </p>
        </div>
    </div>
    <div class="min-h-screen flex items-center justify-center">

        <div class="container">
            <div class="w-full text-center p-8 text-dark">
                <div class="flex justify-center">
                    <h4 class="font-bebas-neue text-center w-5/6  leading-normal font-medium text-secondary text-4xl md:text-6xl">SELL YOUR
                        PROPERTY HASSLE-FREE
                        WITH THE BEST HOUSE BUYING SERVICE IN THE MARKET SELL <br> YOUR HOUSE FAST</h4>
                </div>

                <p class="text-3xl md:text-4xl text-dark font-semibold">Contact us now for a free property valuation and
                    guaranteed cash offer, within days!</p>
                <p class="text-2xl font-medium text-dark leading-7 my-2"> We have qualified advisors that work
                    throughout the UK to ensure a direct sale on your property in the quickest time possible, with no
                    involvement of estate agents. If you want to sell your home, then we want to buy it. It really is
                    that simple! No headaches and no fuss.</p>

                <h5 class="font-bebas-neue text-center font-medium text-secondary text-4xl md:text-6xl">DOES SELL YOUR
                    HOUSE FAST MAKE SENSE FOR YOU?</h5>
                <p class="text-left text-2xl font-medium text-dark leading-7 my-3"><b>Are you facing financial
                        difficulty?</b> Sometimes you have no choice but to release valuable equity to help ease your
                    financial burden. Sell your house fast can help you turn your problems into quick-sale solutions.
                </p>
                <p class="text-left text-2xl font-medium text-dark leading-7 my-3"><b>Are you facing repossession?</b>
                    We can offer you a quick house sale that releases valuable equity. Keep your credit worthiness and
                    get that mortgage lender off your back so that you can move on with a stress-free life.</p>
                <p class="text-left text-2xl font-medium text-dark leading-7 my-3"><b>Are you going through a
                        divorce?</b> In these emotional times, a quick hassle-free sale is often desired by both
                    parties. We can buy your house in an instant at the best price, taking a huge burden off your
                    shoulders during a typically difficult time.</p>
                <p class="text-left text-2xl font-medium text-dark leading-7 my-3"><b>Are you relocating?</b> Have you
                    accepted a new job? Are you retiring to the seaside? Are you going abroad? Sidestep the dreaded
                    property chain and relocate without the hassle by letting us help you sell your home.</p>
                <p class="text-left text-2xl font-medium text-dark leading-7 my-3"><b>Have you just come across an
                        inheritance?</b> Have you recently inherited a property? You might be considering selling the
                    property quickly wherever in the country it may be. Selling your house to us might be your best
                    offer, especially if you want to avoid any strenuous legal fees associated with an inherited
                    property giving you one less thing to worry about.</p>
                <p class="text-left text-2xl font-medium text-dark leading-7 my-3"><b>Has your lifestyle changed?</b> Is
                    your house too big to manage, or maybe your house is not catering for a specific health circumstance
                    you might be facing? It could be that your age or health has now had a profound effect on the way
                    you live. Sell your house fast can provide you with a quick sale to help you find somewhere more
                    fitting to your lifestyle needs.</p>

                <p class="text-left text-2xl font-medium text-dark leading-7 my-3">Whatever your motive is, Sell your
                    house fast has the market knowledge and skills to sell your property quickly. And best of all, we
                    will do so at <b>no cost to you whatsoever</b>. Submit your details below and receive a
                    no-obligation free valuation and quick cash offer for your property.</p>

                <p class="text-left text-2xl font-semibold text-dark leading-7 my-3">Need more information about a quick
                    house sale?</p>
                <p class="text-left text-2xl font-medium text-dark leading-7 my-3"><a
                        href="/quick-house-sale-how-to-guide/" class="text-secondary">Check the quick house sale how-to
                        guide</a></p>
            </div>
        </div>
    </div>
    <div class="flex bg-primary justify-center">
        <div class="w-full">
            {{ partial "cta.html" . }}

        </div>
    </div>